@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* * , *::before, *::after { */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Navigation Menu CSS */
nav {
  position: fixed;
  width: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif; 
}

nav .navbar{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  padding:10px 0;
  justify-content: space-between;
}

nav .navbar .logo a{
  font-size: 40px;
  font-weight: 500;
  color: rgb(34, 168, 213);
}

nav .navbar .menu {
  display: flex;
}

nav .navbar .menu li{
  margin: 0 8px;
  list-style: none;
}

.navbar .social-icons a{
  font-size: 20px;
  margin: 0 6px;
  color: rgb(34, 168, 213);
}

/* Home Section */
.Home{
  height: 100vh;
  width: 100%;
  background:
  linear-gradient(to right, #191919, #676767, #ffffff),
  url("./me.png") no-repeat center center;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif; 
}

.Home .Home-Content {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home .text .text-one{
  font-size: 25px;
  color: #ffffff;
}
.Home .text .text-two{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  color: rgb(34, 168, 213);
}
.Home .text .text-three{
  font-size: 40px;
  color: #ffffff;
}
.Home .text .text-four{
  font-size: 25px;
  color: #ffffff;
  margin: 5px 0;
}

/* About Section */
.About .Content{
  width: 95%;
  margin: 40px auto;
  background-color: beige;
  font-family: sans-serif;
}
.About .Title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.About .Title span{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 8px;
  position: relative;
}
.About .Title span::before,
.About .Title span::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color:aqua;
}
.About .Title span::after{
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
}
.About .About-Details{
  display: flex;
  justify-content: center;
}

/* .About .About-Details {
  display: flex;
  justify-content: center; 
  align-items: center;      
  flex-direction: column;   
  text-align: center;      
  padding: 20px;
} */

.About .About-Details .right{
  height: 500px;
  width: 50px; 
  border-radius: 12px;
}
.About .About-Details .left{
  width: 75%;
  /* margin: auto; */
}
.About .About-Details .left .topic{
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 40px;
  padding: 10px;
  padding-left: 23%;
}
.About .About-Details .left .topic .p{
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 25px;
}